* {
    margin: 0;
}

header,main {
    font-family: 'Inter', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Lobster Two', cursive;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

/* header styles */
header {
    background-image: url(../images/donation2.jpg);
    mix-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(10, 0, 10, 0.556);
    background-blend-mode: multiply;
    height: 1100px;
}

.header {
    text-align: center;
    color: aliceblue;
    padding-top: 400px;
}

.header-title {
    font-size: 95px;
    font-weight: 700;
}

.header-description {
    font-size: 24px;
    font-weight: 400;
    padding: 30PX 0PX;
}

.btn-primary {
    background-color: #fa4549;
    color: aliceblue;
    border: 0;
    border-radius: 10px;
    font-size: 30px;
    padding: 15px 30px;
}
/* donate today */
.donate-today{
    text-align: center;
    padding-top: 100px;
}
.donate-title{
    font-size: 55px;
    font-weight: 600;
}
.donate-description{
    font-size: 24px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 80px;
}
.donate-taka ul{
    padding-bottom: 100px;
}
.donate-taka li{
    list-style: none;
    display: inline;
    font-size: 50px;
    color: rgb(145, 140, 140);
    font-weight: 500;
    margin: 30px;
    padding: 30px;
    background: rgb(240, 240, 240);
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}
.donate-taka ul span{
    background-color: #fa454818;
    color: #fa4549;
    border: 1px solid #fa4549;
    border-radius: 5px;
    margin: -30px;
    padding: 30px;
}
input{
    border: 0;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    text-align: center;
}
.line{
    padding-bottom: 30px;
    color: #fa454818;
    padding-bottom: 30px ;
    padding-left: 570px;
    padding-right: 570px;
}
/* footer styles */
footer {
    background-color: #000000;
    color: aliceblue;
    text-align: center;
    padding: 100px 0px;
}

footer h2 {
    font-family: 'Lobster Two', cursive;
    color: #fa4549;
    font-size: 55px;
    padding-bottom: 20PX;
}
footer P{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}